.wy-side-nav-search {
    display: block;
    width: 300px;
    padding: .809em;
    margin-bottom: .809em;
    z-index: 200;
    background-color: #5a228c;
    text-align: center;
    color: #fcfcfc
}